@media (max-width: 1200px) {
  .navbar {
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important;
    width: 100%;
    margin-bottom: 25px;
  }
  .page-about__title-colored {
    flex-direction: column;
  }
  .header__logo {
    margin-right: 60px;
  }
  .header__navigation .list__item {
    margin-right: 25px;
  }
  .booklet {
    display: none;
  }
  .section,
  .about,
  .vacancies,
  .page_section,
  .catalog {
    margin-bottom: 50px;
  }
  .about__inner,
  .about__desc {
    margin-bottom: 25px;
  }
  .about__infos,
  .page_title,
  .page-about__title-colored,
  .breadcrumbs {
    margin-bottom: 25px;
  }
  .about__link-id {
    margin-bottom: 25px;
  }
  .categories__image {
    display: none;
  }
  .feedback__title {
    font-size: 50px;
  }
  .contact {
    margin-bottom: 25px;
  }
}
