.page-vacancies {
  &__block {
    margin-bottom: 180px;
  }
}

.page-vacancy {
  position: relative;
  background-color: #f6f6f6;
  margin-bottom: 25px;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  & &__content.disabled {
    height: 0px;
    visibility: hidden;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__content {
    transition: 0.3s;
  }
  &__profession {
    position: relative;
    z-index: 3;
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    color: #000;
    padding: 22px 20px;
    cursor: pointer;
    transition: 0.3s;
    &.active {
      color: $primary;
    }
  }
  &__icon {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    top: 22px;
    & span {
      position: absolute;
      width: 25px;
      height: 4px;
      background-color: $primary;
      transition: 0.3s;
      &:last-child {
        transform: rotate(90deg);
      }
    }
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  & ul {
    padding-left: 20px;
    margin-bottom: 45px;
    margin-left: 20px;
    & li {
      line-height: 21px;
      list-style: disc;
    }
  }
  &__button {
    background-color: $primary;
    font-weight: 600;
    color: #fff;
    padding: 10px 24px;
    border: 1px solid $primary;
    transition: 0.3s;
    margin-left: 20px;
    margin-bottom: 31px;
    &:hover {
      color: $primary;
      background-color: #fff;
    }
  }
}
